{
  "env": {
    "dev": {
      "presets": [
        [
          "env",
          {
            "modules": false
          }
        ]
      ],
      "plugins": ["external-helpers"]
    },
    "test": {
      "presets": ["env"]
    }
  }
}
